.biography-section .main-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 40px;
    padding: 0 500px;
    height: max-content !important;
}

.biography-section .main-content .description{
    line-height: 28px;
    font-size: 20px;
    max-width: 700px;
}

.biography-section .main-content .name {
    color:var(--clr-accent);
}

.biography-section .main-content img {
    width: 400px;
    border-radius: var(--br-normal);
    object-fit: cover;
    object-position: top;
}
.Need-to-show
{
    display: none !important;
}
.text-container {
    max-height: 100px; 
    overflow: hidden; 
    display: flex;
  }
  
  .Need-to-show .read-more {
    color: gold;
  }
  
  .show-less {
    display: none;
    color:var(--clr-accent);
  }
  .FFFFF
  {
    display: none;
    transition: 1s;
    
  }

@media (max-width: 1150px) {
    .biography-section .main-content .description{
        line-height: 20px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .biography-section .main-content {
        padding: 0 30px;
    }

    .biography-section .main-content img {
        height: 400px;
        border-radius: var(--br-large);
    }

    .biography-section .main-content .description{
        line-height: 18px;
        font-size: 14px;
    }
    .Need-to-show
    {
        display: block !important;
    }
    .Need-to-disipeer{
        display: none !important;
    }
}