:root {
  /* colors */
  --clr-primary:                          #FFFFFF;
  --clr-primary-low-opacity:              #FFFFFF12;
  
  --clr-background:                       #000000;
  
  --clr-accent:                           #F9CC11;
  --clr-accent-content:                   #030303;
  --clr-accent-content-low-opacity:       #03030312;

  --clr-neutral-300:                      #1D1C1C;
  --clr-neutral-200:                      #696969;
  --clr-neutral-100:                      #D9D9D9;
  --clr-neutral-100-low-opacity:          #D9D9D91a;
  --alaa-dis-active-nav : #ACACAE;
  --alaa-white-coler : #F5F5F7;
  --alaa-yellow-60 : rgba(249, 204, 17, 0.60) ;  
  /* font family */
  --font-family: "Inter", sans-serif;

  /* font weights */
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-base: 400;
  --fw-light: 300;

  /* border radius */
  --br-large: 20px;
  --br-normal: 10px;
}

*, 
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  font-family: var(--font-family);
  user-select: none;
}

html {
  scroll-padding-top: 100px;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-primary);
  font-weight: var(--fw-base);
  min-height: 100vh;
}

section {
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;
}

.container {
  width: 82%;
  margin: 0 auto;
}

.main-heading {
  position: relative;
  font-size: 45px;
  font-weight: var(--fw-bold);
  text-align: center;
  text-transform: capitalize;
  line-height: 5.4rem;
  width: max-content;
  margin: 0 auto 64px;
}

.main-heading::before {
  position: absolute;
  white-space: nowrap;
  bottom: 2rem;
  right: 0;
  content: "";
  color: var(--clr-accent);
  font-size: 16px;
  text-align: center;
  width: max-content;
}

.backgrounded-section::before {
  content: "";
  /* background-image: url(./../imgs/background-2.png); */
  background-size: cover;
  position: absolute;
  opacity: 0.2;
  z-index: -1;
  inset: 0;
}

@media(max-width: 768px) {
  .main-heading {
    font-size: 24px;
    line-height: 24.2px;
    margin-bottom: 32px;
  }

  .main-heading::before {
    font-size: 14px;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
  }
  section {
    margin-top: 64px;
    margin-bottom: 30px;
  }
}

/* slider style start */
.swiper-pagination-bullet {
  border: 1px solid var(--clr-accent);
  transition-duration: .5s !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--clr-accent);
  transform: scale(1.1);
}

.swiper-button-next,
.swiper-button-prev {
    --swiper-navigation-size: 13px;
    width: calc(var(--swiper-navigation-size) / 44 * 1300) !important;
    scale: 1.4;
    color: var(--clr-accent);
}


.bottom-row {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  position: relative;
}
.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  border: 2px solid var(--clr-accent) !important;
  border-radius: 50% !important;
  transition: all 0.5s;
  margin: 0 !important;
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 25px;
}

@media (max-width: 768px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    width: 100% !important;
    position: absolute;
  }
  .swiper-button-next, .swiper-button-prev {
    width: 25px !important;
    height: 25px !important;
  }
  .swiper-button-next:after {
      right: 0 !important;
    }
    .swiper-button-prev:after {
      left: 0 !important;
    }
  .swiper-button-next {
    text-align: end !important;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 18px;
 }
 .bottom-row {
  margin-top: 0;
}
}
/* slider style end */






