nav {
    background-color: transparent;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.3s;
}
nav.dark {
    background-color: var(--clr-accent-content);
}

.nav-container {
    position: relative;
    height: 100px;
    padding: 0 50px;
    padding: 0 9%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.nav-container .logo-nav {
    position: relative;
    z-index: 111;
}
.nav-container .logo-nav img{
    width: 65px;
    height: 40px;
}

.links-list-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 32px;
}

.links-list-nav .link-nav {
    width: max-content;
    text-align: center;
    display: flex;
    justify-content: stretch;
}
.links-list-nav .link-nav a {
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    color: var(--alaa-dis-active-nav);
    text-transform: capitalize;
    width: 100%;
}

.links-list-nav .link-nav a.active-nav {
    color: white;
    position: relative;
}
.links-list-nav .link-nav a.active-nav::before {
    position: absolute;
    content: "";
    left: -10px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--clr-accent);
}

.st {
    display: block;
    margin: 5px 0;
    height: 3px;
    background-color: var(--clr-primary);
    border-radius: 5px;
    transition-duration: .3s;
}

.st#st1 {
    width: 20px;
}

.st#st2 {
    width: 40px;
}

.st#st3 {
    width: 20px;
    margin-left: auto;
}

.response-in-mobile {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
}

.hidden-menu-nav {
    display: none;
    position: absolute;
    z-index: 111;
    right: 0px;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}


.w-40 {
    width: 40px !important;
}

@media (max-width: 1100px) {

    .links-nav {
        position: absolute;
        left: 0;
        z-index: 99;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-100%);
        transition-duration: .5s;
    }
    .links-nav.active {
        transform: translateY(0);
    }
    
    .links-list-nav {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--clr-accent-content-low-opacity);
        backdrop-filter: blur(10px);
    }
    .links-list-nav .link-nav {
        width: 100%;
    }

    .d-block-nav {
        display: flex;
    }

    .links-list-nav .link-nav a {
        font-size: 24px;
        font-weight: 700;
    }
    
    .links-list-nav .link-nav a.active-nav {
        color: var(--clr-accent);
    }
    .links-list-nav .link-nav a.active-nav::before {
        width: 0;
    }
}

