.port-sec {
  overflow: hidden;
  position: relative;
  width: 90vw;
  margin: 0 auto;
}

.port-sec .main-heading::before {
  content: "+40";
}

.port-sec .port-redu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 20px;
}

.port-sec .port-redu .redu {
  margin: 0 30px;
  cursor: pointer;
  text-transform: capitalize;
  opacity: 70%;
  transition: .3s;
  text-align: start;
  position: relative;
}

.port-sec .port-redu .redu:hover {
  opacity: 100%;
}

.port-sec .port-redu .redu.active {
  opacity: 100%;
}

.port-sec .port-redu .redu::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: var(--clr-accent);
  bottom: -5px;
  left: 0;
  transition: .3s;
}

.port-sec .port-redu .redu.active::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  background-color: var(--clr-accent);
  bottom: -5px;
  left: 0;
}

.port-sec .swiper {
  margin-top: 85px;
}

.port-sec .swiper-slide {
  font-size: 18px;  
}

.port-sec .port-c-cont {
  max-width: 100% !important;
  margin: auto;
}

.port-sec .swiper-slide img {
  display: block;
  width: 100%;
  max-height: 210px;
}

.port-sec .port-card-text {
  background-color: var(--clr-neutral-300);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  padding: 16px;
}

.port-sec .port-card-text a {
  font-weight: 300;
  font-size: 16px;
  color: var(--clr-accent);
}
.port-sec .swiper-button-next,.port-sec .swiper-button-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset,65%);
  width: 50px !important;
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 134340;
  cursor: pointer;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: gold;
  font-weight: var(--fw-base);
  font-size: 5rem !important;
}

@media(max-width: 768px) {
  .port-sec .swiper-slide {
    font-size: 14px;
  }

  .port-sec .port-redu .redu {
    font-size: 12px;
  }

  .port-sec .swiper {
    margin-top: 35px;
  }
  .port-sec .swiper-button-next{
    top: -125px !important;
    right: -20px !important;
  }
  .port-sec .swiper-button-prev{
    top: -125px !important;
    left: -20px !important;
  }
}

@media (max-width: 520px) {
  .port-sec .port-redu {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .port-sec .port-redu .redu {
    white-space: nowrap;
  }
}

.portfolio-contanier {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}