.specialized-in-section .main-heading::before {
  content: "+3";
}

.specialized-in-section .fq-card {
  background-color: var(--clr-neutral-100-low-opacity);
  position: relative;
  padding: 22px 32px;
  height: 270px;
  margin: auto;
}

.specialized-in-section .fq-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 50%;
  background-color: var(--clr-accent);
}

.specialized-in-section .fq-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 5px;
  background-color: var(--clr-accent);
}

.specialized-in-section .fq-card .fq-title {
  font-size: 30px;
  margin-bottom: 20px;
}





@media (max-width: 768px) {
  .specialized-in-section .fq-card .fq-title {
    font-size: 20px; 
  }
  .specialized-in-section .fq-card {
    height: 163px;

}
  .specialized-in-section .fq-card .fq-descrip {
    font-size: 14px; 
  }
  .specialized-in-section .swiper-button-next,
  .specialized-in-section .swiper-button-prev {
  top: -90px;
  }
  
}

