.videos-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  margin: 69px auto;
}

.video__category {
  color: var(--alaa-dis-active-nav);
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  width: max-content;
}

.video__category.active {
  font-weight: 500;
  color: var(--alaa-white-coler);
  border-bottom: 3px solid yellow;
}

.videos .videos_active_video {
  height: 500px;
  margin-bottom: 130px;
}
.videos .videos_active_video .videos_active_video_iframe{
  width: 100%;
  height: 100%;
}
.videos .videos_active_video .videos_active_video_iframe iframe {
  width: 100%;
  height: 100%;
}

.videos .videos-swiper .video__item{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.videos .videos-swiper .video__item img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  opacity: 0.5;
  background: lightgray -215.548px -3.748px / 182.903% 102.883% no-repeat;
}


@media screen and (max-width: 760px) {
  .videos-list {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 30px auto;
  }
  .video__category {
    border-radius: 4px;
    background: var(--clr-neutral-300);
    padding: 2px 8px;
  }
  .video__category.active {
    border: none;
    color: var(--alaa-white-coler);
    background: var(--alaa-yellow-60);
  }
  .videos .swiper-button-next, .videos .swiper-button-prev {
    top: -50px;
  }
  .videos .videos-swiper .video__item{
    height: 90px;
  }


  .videos .videos_active_video {
    height: 500px;
    margin-bottom: 20px;
  }
  .videos .videos_active_video .videos_active_video_iframe{
    width: 100%;
    height: 100%;
    border: 1px solid var(--clr-accent);
  }
}


@media screen and (max-width: 1075px) {
  .videos-list{
    /* width: 90%; */
  }
}